@model ForumProject.Models.Post.PostIndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="container body-content">
    <div class="row postHeader">
        <div class="postHeading">
            <span class="postIndexTitle">
                @Model.title
            </span>
            <span id="headingBtn">
                <a asp-controller="Forum" asp-action="Topic" asp-route-id="@Model.forumId" class="btn">
                    Back to @Model.forumName
                </a>
            </span>
        </div>
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <span style="float:right">
            <a asp-controller="Reply" asp-action="Create" asp-route-id="@Model.id" class="btn">
                Post Reply
            </a>
        </span>
    </div>
}
<div class="row" id="postIndexContent">
    <div class="col-md-3 postAuthorContainer">
        <a asp-controller="Profile" asp-action="Detail" asp-route-id="@Model.authorId">@Model.authorName</a>
        <span class="postDate">@Model.created</span>
        @if (Model.isAuthorAdmin)
        {
            <span class="isAdmin small">Admin</span>
        }
    </div>
    <div class="col-mod-9 postContentContainer">
        <div class="postContent">
            @Html.Raw(Model.content)
        </div>
    </div>
</div>
<div class="row" id="replyDivider"></div>



@if (Model.replies.Any())
{
    foreach (var reply in Model.replies)
    {
        <div class="row replyContent">
            <div class="col-md-3 replyAuthorContainer">
                <div class="replyAuthor"> @reply.authorName</div>
                <span>@reply.created</span>
            </div>
            <div class="col-md-9 replyContentContainer">
                <div class="postContent">
                    @Html.Raw(reply.replyContent)
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="noPosts">
        <h3 style="color : white">
            There are no replies to this post yet.
        </h3>
    </div>
}


