@model ForumProject.Models.Reply.PostReplyModel

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            Reply | @Model.postTitle
            <div class="forumLogo" style="background-image: url(@Model.forumImageUrl); background-size:100%"></div>
            <span id="headingBtn"><a asp-controller="Forum" asp-action="Topic" asp-route-id="@Model.forumId" class="btn btn-back">Back to @Model.forumName</a></span>
        </div>
    </div>
    <div class="row">
        <div class="replyOriginalPost">          
            <h2>
                @Model.postContent
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="createPostSection">
            <div class="authorBlock">
                You're submitting this Reply as <span class="authorBlockName">@Model.authorName</span>
            </div>
            <form asp-action="addReply" method="post" id="addPostForm">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="replyContent">Post Content</label>
                    <textarea asp-for="replyContent" rows="20" class="form-control" placeholder="Write your reply here."></textarea>
                    <span asp-validation-for="replyContent" class="text-danger"></span>
                </div>
                <button type="submit" id="registerBtn" class="btn btn-submitPost">Submit Reply</button>
                <input asp-for="authorId" type="hidden" />
                <input asp-for="postId" type="hidden" />
                <input asp-for="forumName" type="hidden" />
                <input asp-for="forumId" type="hidden" />
            </form>
        </div>
    </div>
</div>