@model ForumProject.Models.Home.HomeIndexModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container body-content">
    <div class="row frontPageSplash">
        <div class="col-md-6 frontPageLearn">
            <div class="frontPageHeading">Forum to discuss about Programming languages</div>
            <p class="frontPageSubHeading">And share your knowledge and experiences</p>            
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row frontPageContent">
        <h3 id="latestsPosts">Latests Posts</h3>
        <table class="table table-hover" id="latestsPostTable">
            <tbody>
                @foreach(var post in Model.latestPosts)
                {
                    <tr>
                        <td>
                            <div class="forumLogo" style="background-image: url(@post.forum.forumImageUrl); background-size=100%"></div>
                            <div class="postTitle">
                                <a asp-controller="Post" asp-action="Index" asp-route-id="@post.id">
                                    @post.title
                                </a>
                            </div>
                            <div class="postSubTitle">
                                @if(post.nrOfReplies == 1)
                                {
                                    <span>@post.nrOfReplies Reply</span>
                                }
                                else if(post.nrOfReplies == 0)
                                {
                                    <span>No Replies</span>
                                }
                                else
                                {
                                    <span>@post.nrOfReplies Replies</span>
                                }
                                <span class="postUser"><a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.authorId">@post.authorName</a></span>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

