@model ForumProject.Models.Forum.ForumTopicModel
@{
    ViewData["Title"] = "Topic";
}

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            @if (Context.User.Identity.IsAuthenticated)
            {
                <span id="headingBtn">
                    <a asp-controller="Post"
                       asp-action="Create"
                       asp-route-id="@Model.forum.id" class="btn">
                        Create Post
                    </a>
                </span>
            }            
            <div class="forumLogo" style="background-image:url(@Model.forum.forumImageUrl)"></div>
            <p>Welcome to @Model.forum.name  forum.</p>
            @if (!User.Identity.IsAuthenticated)
            {
                <p>
                    <span>
                        You must be <a asp-controller="Account" asp-action="Register">registered</a> or 
                        <a asp-controller="Account" asp-action="Login">logged in</a>
                        to create a new post.
                    </span>
                </p>
            }
        </div>
        <div class="sectionDescription">
            <form asp-controller="Forum" asp-action="Search" method="post">
                <input asp-for="searchQuery" type="text" placeholder="Search..." class="homeSearch" onfocus="clearThis(this)"/>
                <button type="submit" class="btn">
                    <i class="material-icons">search</i>
                </button>
                <input asp-for="forum.id" name="id" type="hidden" />
            </form>            
        </div>
    </div>
    <div class="row forumIndexContent">
        @if (Model.posts.Any())
        {
            <table class="table table-hover table-bordered" id="forumIndexTable">
                <tbody>
                    @foreach (var post in Model.posts)
                    {
                        <tr>
                            <td>
                                <div class="postData">
                                    <div class="postTitle">
                                        <a asp-controller="Post" asp-action="Index" asp-route-id="@post.id">
                                            @post.title
                                        </a>
                                    </div>
                                    <div class="forumSubTitle">
                                        <div>
                                            <span class="postAuthor">
                                                <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.authorId">@post.authorName</a>
                                            </span>
                                            (@post.authorRating)<span class="postDate">@post.datePosted</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="forumPostCount">Replies: @post.nrOfReplies</div>
                            </td>
                            <td>
                                <div class="postDate">@post.datePosted</div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            @if (Context.User.Identity.IsAuthenticated){
                <div class="noPosts">
                    <h3>
                        There are no posts on this forum.
                        Would you like to
                        <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.forum.id">
                            <span>create</span>
                        </a>
                        one?
                    </h3>
                </div>
            }
        }
    </div>
</div>

@section Scripts{ 
    <script>
        function clearThis(target) {
            target.value = "";
        }
    </script>
}









